/*Base*/
* {
	background-color: aquamarine;
}

select {
	background-color: white;
}

option {
	background-color: white;
}

/*layout*/


main {
	display: flex;
	text-align: center;
	width: 90%;
}

/*module*/
header {
	font-family: Gloria Hallelujah;
	text-align: center;
}

h2 {
	font-family: Gloria Hallelujah;
}

img {
	height: 200px;
}

footer {
	clear: both;
}
