/*Base*/
* {
	background-color: aquamarine;
}

select {
	background-color: white;
}

option {
	background-color: white;
}

button {
	background-color: white;
}
/*layout*/

main {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 2200px;
	flex-wrap: wrap;
}

/*module*/
header {
	font-family: Gloria Hallelujah;
	text-align: center;
}

h2 {
	font-family: Gloria Hallelujah;
}

img {
	height: 200px;
}

footer {
	clear: both;
}
